@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
  --sidenav-width: 175px;
  --sidenav-bg-color: #dee9ea;
  --sidenav-text-color: #000;
  --sidenav-hover-bg-color: #8d9495;
  --sidenav-active-bg-color: #c8d2d3;
  --font-family: 'Inter', sans-serif;
  --title-font-family: 'Open Sans', sans-serif;
  --border-color: #c8d2d3;
}
.logo {
  font-weight: 700;
  font-family: var(--title-font-family);
  padding: 0;
  position: relative;
  bottom: 20px;
  border-bottom: 1px solid var(--sidenav-text-color);
}
.sidenav {
  position: fixed;
  width: var(--sidenav-width);
  height: 100vh;
  background-color: var(--sidenav-bg-color);
  color: var(--sidenav-text-color);
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border-color);
  padding: 1rem;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
}
.nav-links {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.sidenav a {
  color: var(--sidenav-text-color);
  text-decoration: none;
  padding: 0.75rem 1rem;
  border-radius: 0.375rem;
  margin-bottom: 0.5rem;
  transition: background-color 0.2s;
}
.sidenav a:hover {
  background-color: var(--sidenav-hover-bg-color);
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.sidenav a.active {
  background-color: var(--sidenav-active-bg-color);
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);

}
