@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.logo {
  font-weight: 700;
  font-family: var(--title-font-family);
  padding: 0;
  position: relative;
  bottom: 20px;
  border-bottom: 1px solid var(--sidenav-text-color);
}
.sidenav {
  min-width: var(--sidenav-width);
  width: var(--sidenav-width);
  height: 100vh;
  background-color: var(--sidenav-bg-color);
  color: var(--sidenav-text-color);
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--border-color);
  padding: 1rem;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}
.nav-links {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
  svg {
    margin-top: 1px;
    width: 28px;
    height: 28px;
    fill: var(--sidenav-text-color);
    transition: fill 0.2s;
  }
  .add-svg {
    margin-top: auto;
    svg {
      width: 30px;
      height: 30px;
    }
  }
  .song-svg {
    svg {
      padding: 3px;
      width: 24px;
      height: 22px;
      position: relative;
      top: 3px;
    }
  }
  .playlist-svg {
    svg {
      width: 28px;
      height: 28px;
      position: relative;
      top: 2px;
    }
  }
}
.sidenav a {
  color: var(--sidenav-text-color);
  text-decoration: none;
  padding: 10px 12px;
  border-radius: 15px;
  border: 1px solid #252525;
  background-color: #212121;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.227);
  transition: background-color 0.2s;
}
.sidenav a:hover {
  background-color: var(--sidenav-hover-bg-color);
  transition: all 0.3s ease;
  transform: scale(1.1);
}
.sidenav a.active {
  background-color: var(--sidenav-active-bg-color);
  transform: scale(1.1);

}
