
.song-list{
    display: flex;
    width: 90%;
    margin: -20px auto;
    flex-direction: column;
    padding: 20px;
    background-color: var(--background-color);
    font-family: var(--font-family);
    height: 100vh;

    h2 {
        text-align: center;
        color: var(--text-color);
    }

}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.song-item {
    display: flex;
    padding: 5px 15px;
    align-items: center;
    border-radius: 8px;
    transition: background-color 0.2s;  

   
}
.song-item:hover {
    background-color: var(--hover-color);
    .controls{
        display: flex;
    
    }
}
.song-details {
    margin-left: 15px;
    display: flex;
    gap: 5px;
}
.cover-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.controls {
    position: relative;
    margin-top: 6px;
    display: none;
}
.play-button {
    background: var(--orange);
    pointer-events: all;
    border: none;
    color: black;
    padding: 5px 10px;
    border-radius: 100%;
    cursor: pointer;
    font-size: 11px;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.delete-button {
    background: none;
    pointer-events: all;
    border: none;
    color: var(--secondory-text-color);
    padding: 5px 10px;
    border-radius: 100%;
    cursor: pointer;
    font-size: 11px;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.artist {
    font-weight: 600;
    color: var(--secondory-text-color);
}
.title {
    font-weight: 600;
    color: var(--text-color);
    
}
.separator {
    color: var(--secondory-text-color);
}
.duration {
    color: var(--text-color);
    position: relative;
}
