
.song-list{
    display: flex;
    width: 90%;
    margin: -20px auto;
    flex-direction: column;
    padding: 20px;
    background-color: var(--background-color);
    font-family: var(--font-family);
    height: 100vh;

    h2 {
        text-align: center;
        color: var(--text-color);
    }

}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.song-item {
    display: flex;
    padding: 5px 15px;
    align-items: center;
    border-radius: 8px;
    transition: background-color 0.2s;
    cursor: pointer;

   
}
.song-item:hover {
    background-color: var(--hover-color);
}
.song-details {
    margin-left: 15px;
    display: flex;
    gap: 5px;
}
.cover-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.artist {
    font-weight: 600;
    color: var(--secondory-text-color);
}
.title {
    font-weight: 600;
    color: var(--text-color);
}
.separator {
    color: var(--secondory-text-color);
}

