
.add-song-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--background-color);
    font-family: var(--font-family);
    margin: auto;
}