
.add-song-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--background-color);
    font-family: var(--font-family);

}
.cover-preview {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
}