
.add-song-form {
    display: flex;
    height: 600px;
    flex-direction: column;
    padding: 20px;
    background-color: var(--form-background-color);
    font-family: var(--font-family);
    gap: 10px;
    margin: 40px auto;
    h2 {
        color: var(--text-color);
        text-align: center;
    }
}
.cover-preview {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
}
.form-group {
    display: flex;
    flex-direction: column;
}
.sumbit-button {
    width: 200px;
}