@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --sidenav-width:  50px;
  --sidenav-bg-color: #1e1e1e;
  --sidenav-border-color: #2b2b2b;
  --sidenav-text-color: #dadada;
  --sidenav-hover-bg-color: #3b3b3b;
  --sidenav-active-bg-color: #515151;
  --title-font-family: 'Inter', sans-serif;
  --font-family: 'Open Sans', sans-serif;
  --border-color: #1a1a1a;
  --hover-color: #3b3b3b;
  --item-bg-color: #cac7c7;
  --text-color: #dadada;
  --secondory-text-color: #595959;
  --thirdary-text-color: #888;
  --background-color: linear-gradient(150deg, #1a1a1a , #0d0d0d);
  --orange: #EC4C01;
  --orange-dark: #DB4600;
  --orange-darkest: #E25C00;
  --orange-light: #EC7620;
  --playlist-detail-bg-color: linear-gradient(135deg, rgba(153, 49, 0, 0.8) 0%, #a3461a, #1d1d1d 100%);;
  --form-background-color: #3b3b3b;
  --upload-area-bg-color: #2b2b2b;
  --modal-overlay-bg-color: #171717;
  --playlist-card-bg-color: linear-gradient(150deg, #353535 , #2f2f2f);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--title-font-family);
  background: #171717;  

}
.App {
  display: flex;
  width: 100%;
  background: #171717;

}

.app-content {
  margin-left: calc(var(--sidenav-width) + 20px);
  width: 100%;
  min-height: 110vh;
}

